.nav{
    margin:5%;
    display: flex;
   font-weight: bold;
    justify-content: center;}
.containerbtn{
    display: flex;
    margin-left: 3%;
    justify-content: space-between;
}

.counter{
    background-color: blue;
    color: white;
    padding: 1%;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;
}